USE [dbHelloWorld]
GO
/****** Object:  Table [dbo].[A_Gender]    Script Date: 1/28/2021 12:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Gender](
	[ID] [char](1) NOT NULL,
	[Title] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_A_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_Department]    Script Date: 1/28/2021 12:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_H_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[L_Group]    Script Date: 1/28/2021 12:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[L_Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDDepartment] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Course] [int] NOT NULL,
 CONSTRAINT [PK_L_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_User]    Script Date: 1/28/2021 12:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Instagram] [char](30) NOT NULL,
	[Phone] [char](15) NOT NULL,
	[Vk] [nvarchar](100) NOT NULL,
	[Image] [varchar](1000) NULL,
	[IDGender] [char](1) NOT NULL,
	[IDGroup] [int] NOT NULL,
 CONSTRAINT [PK_T_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[L_Group]  WITH CHECK ADD  CONSTRAINT [FK_L_Group_H_Department] FOREIGN KEY([IDDepartment])
REFERENCES [dbo].[H_Department] ([ID])
GO
ALTER TABLE [dbo].[L_Group] CHECK CONSTRAINT [FK_L_Group_H_Department]
GO
ALTER TABLE [dbo].[T_User]  WITH CHECK ADD  CONSTRAINT [FK_T_User_A_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[A_Gender] ([ID])
GO
ALTER TABLE [dbo].[T_User] CHECK CONSTRAINT [FK_T_User_A_Gender]
GO
ALTER TABLE [dbo].[T_User]  WITH CHECK ADD  CONSTRAINT [FK_T_User_L_Group] FOREIGN KEY([IDGroup])
REFERENCES [dbo].[L_Group] ([ID])
GO
ALTER TABLE [dbo].[T_User] CHECK CONSTRAINT [FK_T_User_L_Group]
GO
